body {
    font-family: sans-serif;
    background-color: #606090;
}

main {
    background-color: white;
    margin: auto;
    margin-top: 1rem;
    padding: 1em;
    width: 40em;
    max-width: 90%;
    border-radius: 0.2rem;
}

h1 {
    margin-top: 0;
    color: #505060;
}

li {
    line-height: 1.5;
    text-decoration: none;
    font-size: large;
}

li li {
    font-size: 12pt;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    color: #505060;
}

li:not(.expand) li {
    display: none;
}

li.clickable::before {
    content: "⊞ ";
    cursor: pointer;
}

li.clickable.expand::before {
    content: "⊟ ";
}
