body {
    font-family: sans-serif;
    background-image: url(isekai-shokudou.jpg);
    background-position-x: 50%;
    background-size: 100% auto;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

body.friday {
    background-image: url(grodanboll.svg);
}

@media(max-aspect-ratio: 2560/1440) {
    body {
        background-position-x: 50%;
        background-size: auto 100%;    
    }
}

#wrapper {
    margin: auto;
    width: 40em;
    max-width: 80%;
    margin-top: 2rem;
}

main {
    height: 100%;
    border: 1px solid rgba(240, 240, 240, 0);
    background-color: rgba(240, 240, 240, 0.9);
    overflow-y: auto;
}

section {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1em;
    border-radius: 0.2rem;
}

footer {
    font-size: small;
    text-align: center;
}

h1 {
    text-align: right;
    font-size: 18pt;
    color: #505060;
}

.not-blackstone, .not-blackstone li {
    font-size: small;
    color: #e0e0e0;
}

.not-blackstone sup {
    font-weight: lighter;
    vertical-align: baseline;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-size: 10em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow linear 5000ms infinite;
}

@keyframes rainbow {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

#mode {
    border-radius: 2px;
    border: 0;
    background: transparent;
}

.weekend h1 {
    display: none;
}

#weekendmeme {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}

#weekendcontent {
    display: none;
}

.weekend #weekendcontent {
    text-align: center;
    font-size: 14pt;
    display: block;
}

.weekend h2 {
    display: none;
}

.weekend ul {
    display: none;
}

li {
    line-height: 1.5;
    text-decoration: none;
    font-size: large;
}

li li {
    font-size: 12pt;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    color: #505060;
}

li:not(.expand) li {
    display: none;
}

li.clickable::before {
    content: "⊞ ";
    cursor: pointer;
}

li.clickable.expand::before {
    content: "⊟ ";
}
